<div class="form-container">
	<div class="form-header">
		<h1>Sign in</h1>
		<p>Don't have an account?<a mat-button routerLink="/signup">Sign up</a></p>
	</div>
	<form [formGroup]="loginForm" autocomplete="off" (submit)="logIn()">
		<mat-form-field class="form-field" appearance="outline">
			<mat-label> Email </mat-label>
			<input matInput formControlName="email" type="email" />
			<mat-error *ngIf="email.touched && email.invalid">
				<span *ngIf="email.errors.required">This field is required</span>
				<span *ngIf="email.errors.email">Invalid email format</span>
				<span *ngIf="email.errors.maxlength"
					>Maximum {{ email.errors.maxlength.requiredLength }} characters required</span
				>
			</mat-error>
		</mat-form-field>
		<mat-form-field class="form-field" appearance="outline">
			<mat-label> Password </mat-label>
			<input
				matInput
				formControlName="password"
				type="password"
				[passwordInput]="passwordTypeTrigger._elementRef.nativeElement"
			/>
			<mat-icon #passwordTypeTrigger color="primary" class="small-icon" matSuffix>visibility_off</mat-icon>
			<mat-error *ngIf="password.touched && password.invalid">
				<span *ngIf="password.errors.required">This field is required.</span>
				<span *ngIf="password.errors.maxlength"
					>Maximum {{ password.errors.maxlength.requiredLength }} characters required</span
				>
			</mat-error>
		</mat-form-field>
		<a mat-button routerLink="/reset-password">Forgot password</a>
		<div class="form-footer">
			<button
				[disabled]="loginForm.invalid || buttonAuthDisabled"
				mat-raised-button
				color="warn"
				type="submit"
				class="form-submit"
			>
				Log In
			</button>
			<div class="separator-block"></div>
			<button mat-button (click)="googleAuth()" [disabled]="buttonAuthDisabled" type="button" class="google-button">
				Sign in with Google
			</button>
		</div>
	</form>
</div>
