<mat-drawer-container class="sidenav-content">
	<mat-drawer mode="side" opened class="sidenav">
		<div class="available-fields">
			<h1 class="fields-header">Fields list</h1>
			<div
				class="field"
				*ngFor="let field of availableFields"
				[ngClass]="{ selected: isFieldInList(chosenFields, field), unselected: !isFieldInList(chosenFields, field) }"
			>
				{{ field.label }}
				<div>
					<button mat-stroked-button color="primary" class="add-btn" (click)="addField(field)">add</button>
					<button mat-stroked-button color="warn" class="remove-btn" (click)="removeField(field)">remove</button>
				</div>
			</div>
		</div>
	</mat-drawer>
	<mat-drawer-content class="chosen-field-block">
		<div class="chosen-field-list">
			<h1 class="chosen-field-title">Chosen fields list</h1>
			<div class="chosen-field" *ngFor="let field of chosenFields">
				{{ field.label }}
			</div>
		</div>
		<button mat-raised-button color="primary" class="save-button" (click)="saveFields()">Save</button>
	</mat-drawer-content>
</mat-drawer-container>
