<div class="form-container">
	<div class="form-header">
		<h1>Enter new password</h1>
	</div>
	<form [formGroup]="newPasswordForm" autocomplete="off" (submit)="newPassword()">
		<mat-form-field class="form-field" appearance="outline">
			<input
				[passwordInput]="newPasswordTypeTrigger._elementRef.nativeElement"
				formControlName="password"
				matInput
				placeholder="New Password"
				type="password"
			/>
			<mat-icon #newPasswordTypeTrigger color="primary" class="small-icon" matSuffix>visibility_off</mat-icon>
			<mat-error *ngIf="password.touched && password.invalid">
				<span *ngIf="password.errors.required">This field is required</span>
				<span *ngIf="password.errors.minlength"
					>Minimum {{ password.errors.minlength.requiredLength }} characters required</span
				>
				<span *ngIf="password.errors.maxlength"
					>Maximum {{ password.errors.maxlength.requiredLength }} characters required</span
				>
			</mat-error>
		</mat-form-field>
		<mat-form-field class="form-field" appearance="outline">
			<input
				[passwordInput]="confirmPasswordTypeTrigger._elementRef.nativeElement"
				formControlName="confirmPassword"
				matInput
				placeholder="Confirm New Password"
				type="password"
				[errorStateMatcher]="dirtyStateMatcher"
			/>
			<mat-icon #confirmPasswordTypeTrigger color="primary" class="small-icon" matSuffix>visibility_off</mat-icon>
			<mat-error *ngIf="confirmPassword.touched && confirmPassword.invalid">
				<span *ngIf="confirmPassword.errors.notSame">Passwords do not match</span>
			</mat-error>
		</mat-form-field>
		<div class="form-footer">
			<button
				[disabled]="newPasswordForm.invalid || buttonDisabled"
				mat-raised-button
				color="warn"
				class="form-submit"
				type="submit"
			>
				Save
			</button>
		</div>
	</form>
</div>
