<div class="form-container">
	<form [formGroup]="resetPasswordForm" autocomplete="off" (submit)="resetPassword()">
		<div class="form-header">
			<h1>Reset password</h1>
		</div>
		<mat-form-field class="form-field" appearance="outline">
			<mat-label> Email </mat-label>
			<input matInput formControlName="email" type="email" />
			<mat-icon class="small-icon" matSuffix>email</mat-icon>
			<mat-error *ngIf="email.touched && email.invalid">
				<span *ngIf="email.errors.required">This field is required.</span>
				<span *ngIf="email.errors.email">Email format error.</span>
			</mat-error>
		</mat-form-field>
		<div class="form-footer">
			<button
				[disabled]="resetPasswordForm.invalid || buttonDisabled"
				mat-raised-button
				color="warn"
				class="form-submit"
				type="submit"
			>
				Send request
			</button>
		</div>
	</form>
</div>
